body {
    background-image: url("calc.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.calculator-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 470px;
}
